@font-face {
  font-family: Fredoka;
  src: url("./font/FredokaOne-Regular.ttf");
}

html {
  box-sizing: border-box;
}

body {
  margin: 0rem;
  font-family: Fredoka;
  font-variant-ligatures: no-common-ligatures;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: scale(1);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/header.jpg");
  transition: all 2s linear;
  height: 100vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

h1 {
  font-size: 7vh;
}

h3 {
  font-size: 5vh;
}

.invisible {
  opacity: 0;
}

.brume {
  animation: blurOut 2s linear;
  animation-fill-mode: forwards;
}

span {
  cursor: pointer;
}

#skip {
  opacity: 0;
  position: absolute;
  top: 0%;
  right: 0%
}

#instruction {
  animation: blurIn 1.5s linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 70%;
  right: 41.5%
}

#projects {
  position: absolute;
}

.linkSite {
  font-size: 0.375rem;
  /* display: none; */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 45%
}

.titleProject {
  cursor: default;
  font-size: 2vh;
  opacity: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 49.5%;
}

.linkSite {
  display: none;
}

.pictureProject {
  width: 9.375rem;
  opacity: 0;
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 45%;
  top: 51%;
  border: solid;
  border-radius: 2vh;
  border-width: 0.125rem;
}

#pictureSecondProject {
  border-color: black;
}

#pictureFirstProject {
  border-color: aliceblue;
}

.textProject {
  font-size: 0.375rem;
  width: 3.125rem;
  opacity: 0;
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  right: 38%;
  top: 51%;
  padding-top: 1.25rem;
}

.swapProjectLeft {
  display: none;
  background-color: rgb(0, 0, 0, 0);
  border: 0.313rem;
  border-color: black;
  width: 0.938rem;
  height: 0.938rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: 62%;
  border-radius: 50%;
  
}

.swapProjectRight {
  display: none;
  background-color: rgb(0, 0, 0, 0);
  border: 0.313rem;
  border-color: black;
  width: 0.938rem;
  height: 0.938rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 63%;
  border-radius: 50%;
}

.rightText {
  position: absolute;
  display: none;
  font-size: 0.313rem;
  top: 47%;
  left: 62%;
}

.leftText {
  position: absolute;
  display: none;
  font-size: 0.313rem;
  top: 47%;
  right: 62%;
}


.arrowLeft {
  width: 0.625rem;
  height: 0.625rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}

.arrowRight {
  width: 0.625rem;
  height: 0.625rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}

#monProfil {
  cursor: default;
  font-size: 2vh;
  opacity: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 49.5%;
}

@keyframes blurOut {
  0% {
    filter: blur(0.625rem);
    opacity: 1;
  }

  100% {
    filter: blur(2.5rem);
    opacity: 0;
    cursor: default;
  }
}

@keyframes blurIn {
  0% {
    filter: blur(1.875rem);
    opacity: 0;
    cursor: default;
  }

  100% {
    filter: blur(0rem);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3.5);
  }
}
